body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    top: 1px;
    left: 0px;
    width: 1960px;
    height: 75px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    position: fixed;
    z-index: 1;
}
.hamburger{
    background-color: #707070;
    margin: 6px 0;
    top: 45px;
    left: 43px;
    width: 23px;
    border: 2px solid #707070;
    opacity: 1;    
}
#menu{
    margin-left: 55px;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    bottom: 14px;
}
#navlogo{
    height: 66px;
    width: 66px;
    margin-left: 616px;
    margin-top: 6px;
}
.usericons{
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}
#bellicon{
    margin-left: 445px;
}
#navuser{
    margin-left: 45px;
    position: relative;
    bottom: 25px;
}
#careticon{
    color: grey;
    position: relative;
    bottom: 20px;
}
#usericon{
    width: 41px;
    height: 42px;
    margin-top: 21px;
    position: relative;
    bottom: 12px;
    margin-left: 12px;    
}
#createref{
    display: inline-block;
    color: white;
    margin-left: 998px;
    margin-top: 99px;
    background: #514F48 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #00000047;
    border-radius: 35px;
    opacity: 1;
    width: 300px;  
    height: 75px;
}
#createreftxt{
    margin-top: 125px;
    position: relative;
    top: 3px;
    left: 27px;
}
#createref:hover{
    background-color: #F3BB03;
    cursor: pointer;
}
#plusicon{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px;    
    position: relative;
    top: 17px;
    left: 16px;
}
#tip1,#tip2,#tip3{
    background: 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000003D;
    opacity: 1;
    width: 1062px;
    height: 210px;
    margin-left: 233px;
    margin-top: 29px;
    border-radius: 26px;
}
#tip1{
    background-color: #F2F2F2;
}
#tip2{
    background-color: #455A64;
    color: white;
}
#tip3{
    background-color: #739AF0;
    color: white;
}
#tip2,#tip3{
    display: none;
}
#tip2img,#tip3img,#tip1img{
    height: 319px;
    width: 319px;
    bottom: 150px;
    margin-left: 40px;
    position: relative;
}
#tip1 p,#tip2 p,#tip3 p{
    width: 677px;
    display: inline-block;
    position: relative;
    margin-left: 360px;
    bottom: 300px;
    font-weight: bold;
}
#tip1heading,#tip2heading,#tip3heading{
    font-size: 29px;
}
#tip1desc,#tip2desc,#tip3desc{
    font-size: 15px;
}
#dots1,#dots2,#dots3{
    display: inline-block;
    margin-left: 830px;
    position: relative;
    bottom: 35px;
}
#dots1,#dots2,#dots3:hover{
    cursor: pointer;
}
#dots2,#dots3{
    display: none;
}
.dot{
    height: 13px;
    width: 14px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}
.tab {
    display: inline-block;
    margin-left: 225px;
    margin-top: 50px;
}
.tab p {
    float: left;
    cursor: pointer;
    font-size: 21px;
    padding-bottom: 5px;
    padding-right: 15px;
    color: #707070;
    font-weight: 550;
}
.tab p.active {
    border-bottom: 5px solid #F3BB03;
}
.tabcontent {
    display: none;
}
#tabhr{
    width: 1073px;
    margin-top: -25px;
    margin-left: 225px;
}
.overviewdivs{
    width: 320px;
    height: 219px;
    display: inline-block;
    margin-top: 45px;
    margin-left: 10px;
    box-shadow: 0px 3px 6px #0000002B;
    border-radius: 23px;
    opacity: 1;    
    color: white;
}
#refrev{
    background: #8DD8A8 0% 0% no-repeat padding-box;
    margin-left: 200px;
}
#rev{
    background: #F6BCCA 0% 0% no-repeat padding-box;
}
#conversionrate{
    background: #AEB0E9 0% 0% no-repeat padding-box;
}
.viewbtn{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 18px;
    opacity: 1;
    width: 100px;
    height: 31px;
    color: black;
    margin-left: 195px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 550;
}
.viewtxt{
    position: relative;
    left: 18px;
    top: 4px;
}
.rightcaret{
    position: relative;
    left: 18px;
    top: 6px;
}
#rrtitle, #rtitle, #crtitle{
    font-size: 30px;
    position: relative;
    left: 38px;
    top: 15px;
}
#rrdesc, #rdesc{
    font-size: 20px;
    position: relative;
    left: 38px;
    top: 15px;
}
#rrimg, #rimg, #crimg{
    position: relative;
    top: 30px;
    left: 25px;
}
#crimg{
    height: 77px;
    width: 250px;
}
#arrowlink{
    display: inline-block;
    color: #3181F8;
    font-weight: 550;
    position: relative;
    left: 8px;
    bottom: 34px;
}
#arrowimg{
    position: relative;
    left: 15px;
    top: 16px;
}
#arrowbg{
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    display: inline-block;
    height: 47px;
    width:47px;
    border-radius: 50%;
    position: relative;
    bottom: 93px;
    right: 81px;
}
#trophyimg{
    margin-left: 205px;
    margin-top: 47px;
}
#trophytxt{
    font-size: 24px;
}
#analyticshowbtn{
    width: 251px;
    height: 58px;
    background: #AEB0E9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 28px;
    opacity: 1;
    display: inline-block;
    color: white;
    margin-left: 10px;
    position: relative;
    bottom: 20px;
}
#siatxt{
    font-size: 18px;
    position: relative;
    left: 31px;
    top: 12px;
}
#downloadpdf{
    margin-left: 250px;
}
table{
    margin-top: 15px;
    margin-left: 170px;
    border-collapse: collapse;
    width: 1140px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 48px;
    opacity: 1;
    font-weight: 550;
}
th{
    text-align: left;
    padding: 8px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    font-weight: 100;
} 
td{
    text-align: center;
}
tr:nth-child(even){
    background-color: #E9E9E9;
}  
th{
    background-color: black;
    color: white;
}
tr{
    height: 90px;
}
#sno{
    padding-left: 40px;
}
#ps{
    padding-right: 40px;
}
.trev{
    width: 129px;
    height: 44px;
    background: #AEB0E9 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    color: white;
    margin-left: 18px;
    font-weight: 100;
}
.yellowbar{
    display: none;
}
.fiftypct{
    position: relative;
    top: 12px;
}
.aw{
    width: 125px;
    height: 49px;
    background: #F3BB03 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000047;
    border-radius: 30px;
    opacity: 1;
    color: white;
    margin-left: 10px;
    font-weight: 100;
}
.edit{
    position: relative;
    top: 15px;
}
#orderplaced,#totalrev,#audweight,#prevsettings{
    display: none;
}

.analyticsdivs{
    width: 495px;
    height: 385px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    display: inline-block;
    margin-top: 20px;
}
#ad1,#ad3{
    margin-left: 215px;   
}
.aimgs{
    width: 600px;
    height: 375px;
}
#dottedgraph, #linegraph{
    margin-left: 215px;
}
#bgraph{
    margin-left: -65px;
}
#linegraph{
    width: 550px;
    position: relative;
    bottom: 16px;
}
#ygraph{
    margin-left: -13px;
    width: 545px;
    height: 390px;
    position: relative;
    top: 10px;
}
@media(max-width: 1395px){
    #navlogo{
        margin-left: 525px;
    }
    #bellicon{
        margin-left: 340px;
    }
    #createref{
        margin-left: 750px;
    }
    #tip1,#tip2,#tip3{
        margin-left: 200px;
        width: 850px;
    }
    #tip1 p,#tip2 p,#tip3 p{
        width: 500px;
        margin-left: 335px;
    }
    #dots1,#dots2,#dots3{
        margin-left: 640px;
    }
    .tab{
        margin-left: 185px;
    }
    #tabhr{
        margin-left: 195px;
        width: 860px;
    }
    #refrev,#trophyimg{
        margin-left: 160px;
    }
    table{
        margin-left: 115px;
    }
    #dottedgraph, #linegraph {
        margin-left: 175px;
    }
    .aimgs {
        width: 495px;
        height: 300px;
    }
    #linegraph{
        width: 455px;
        bottom: 23px;
    }
    #bgraph{
        margin-left: -50px;
    }
    #ygraph{
        margin-left: -10px;
        top: 0px;
        height: 317px;
        width: 445px;
    }
}
@media(max-width: 1330px){
    .overviewdivs{
        width: 280px;
        margin-top: 18px;
    }
    .viewbtn{
        width: 85px;
        margin-left: 175px;
    }
    #rimg,#rrimg{
        left: 25px;
        width: 220px;
    }
    #crimg{
        width: 220px;
        margin-left: 5px;
    }
    #rrtitle,#rtitle,#crtitle{
        font-size: 23px;
    }
    #rrdec,#rdesc{
        font-size: 15px;
    }
    #conversionrate{
        position: relative;
        top: 11px;
    }
    #arrowlink{
        bottom: 20px;
    }
    #arrowbg{
        bottom: 80px;
    }
    #downloadpdf{
        margin-left: 205px;
    }
    table{
        width: 1080px;
    }
}
@media(max-width: 1305px){
    #bellicon{
        margin-left: 285px;
    }
}
@media(max-width: 1250px){
    #navlogo{
        margin-left: 490px;
    }
}
@media(max-width: 1215px){
    #bellicon{
        margin-left: 240px;
    }
    #downloadpdf{
        margin-left: 185px;
    }
    table{
        width: 1010px;
    }
    #sno{
        padding-left: 20px;
    }
    #ps{
        padding-right: 20px;
    }
}
@media(max-width: 1211px){
    #arrowbg{
        bottom: 150px;
        margin-left: 1150px;
    }
}
@media(max-width: 1170px){
    #downloadpdf{
        margin-left: 100px;
    }
    .overviewdivs{
        width: 250px;
    }
    #rrdesc,#rdesc,#rrtitle,#rtitle,#crtitle{
        left: 15px;
    }
    .viewbtn{
        margin-left: 145px;
        position: relative;
    }
    #viewbtn1,#viewbtn2{
        top: 12px;
    }
    #arrowbg{
        margin-left: 1060px;
    }
    #navlogo{
        margin-left: 445px;
    }
}
@media(max-width: 1140px){
    #navlogo{
        margin-left: 400px;
    }
    #createref{
        margin-left: 615px;
    }
    #tip1, #tip2, #tip3 {
        margin-left: 215px;
        width: 705px;
    }
    #tip1img{
        margin-left: -15px;
    }
    #tip2img,#tip3img{
        height: 285px;
        width: 285px;
        margin-left: 38px;
        bottom: 130px;
    }
    #tip1 p{
        width: 375px;
        margin-left: 290px;
    }
    #tip2 p,#tip3 p{
        width: 375px;
        margin-left: 322px;
        bottom: 270px;
    }
    .tab,#tabhr,#refrev,#trophyimg{
        margin-left: 115px;
    }
    #arrowbg{
        margin-left: 1020px;
    }
    table{
        margin-left: 65px;
    }
    #dots1,#dots2,#dots3{
        margin-left: 560px;
    }
    #dottedgraph,#linegraph{
        margin-left: 100px;
    }
    #rrimg,#rimg,#crimg{
        margin-left: -15px;
    }
}
@media(max-width: 1090px){
    #bellicon{
        margin-left: 200px;
    }
    table{
        margin-left: 30px;
    }
}
@media(max-width: 1061px){
    #dottedgraph,#linegraph{
        margin-left: 85px;
    }
}
@media(max-width: 1048px){
    #dottedgraph,#bgraph{
        width: 475px;
    }
    #ygraph{
        width: 425px;
    }
    #linegraph{
        width: 435px;
    }
    table{
        margin-left: 6px;
    }
    #trophyimg{
        margin-left: 75px;
    }
    #refrev{
        margin-left: 75px;
    }
    #arrowbg{
        margin-left: 975px;
    }
}
@media(max-width: 1010px){
    #navlogo{
        margin-left: 360px;
    }
    #dottedgraph,#linegraph,.tab,#tabhr,#trophyimg{
        margin-left: 70px;
    }
}
@media(max-width: 1000px){
    #bellicon {
        margin-left: 180px;
    }
    #tip1,#tip2,#tip3{
        height: 185px;
        width: 850px;
        margin-left: 70px;
    }
    .dot{
        height: 4px;
        width: 4px;
    }
    #dots1,#dots2,#dots3{
        margin-left: 500px;
    }
    #tip1 p{
        bottom: 320px;
        width: 560px;
    }
    #tip2 p,#tip3 p{
        bottom: 275px;
        width: 495px;
    }
    .tab{
        margin-top: 0px;
    }
    .overviewdivs {
        width: 360px;
    }
    #refrev{
        margin-left: 75px;
    }
    #rrdesc, #rdesc, #rrtitle, #rtitle, #crtitle {
        left: 30px;
    }
    #rrimg, #rimg, #crimg {
        margin-left: 35px;
        top: 35px;
    }
    .viewbtn{
        margin-left: 245px;
    }
    #conversionrate{
        margin-left: 81px;
    }
    #overview,#analytics{
        width: 979px;
    }
    #arrowlink{
        margin-left: 100px;
        font-size: x-large;
    }
    #arrowbg{
        margin-left: 695px;
    }
    #trophytxt{
        font-size: 20px;
    }
    #analyticshowbtn{
        margin-left: 145px;
        bottom: 35px;
    }
    #siatxt{
        left: 45px;
        top: 23px;
    }
    #dld,#siatxt img,th:nth-child(4),th:nth-child(5),th:nth-child(6),th:nth-child(7),
    td:nth-child(4),td:nth-child(5),td:nth-child(6),td:nth-child(7){
        display: none;
    }
    #downloadpdf {
        margin-left: 120px;
    }
    tr:nth-child(odd){
        background-color: #E9E9E9;
    }
    tr:nth-child(even){
        background-color: white;
    }
    .borderprop{
        border-top-right-radius: 48px;
        width: 130px;
        padding-right: 40px;
    }
    th{
        text-align: center;
    }
    table{
        width: 850px;
        margin-left: 60px;
        margin-top: 35px;
        height: 210px;
    }
    #orderplaced,#totalrev,#audweight,#prevsettings{
        display: table;
    }
    .trev,.aw{
        width: 110px;
    }
    #ps{
        width: 1px;
    }
    .yellowbar{
        height: 6px;
        width: 130px;
        background-color: #F3BB03;
        position: relative;
        top: 31px;
        left: 5px;
        display: block;
    }
    #orderplaced .yellowbar{
        top: 28px;
    }
    #audweight .yellowbar,#prevsettings .yellowbar{
        top: 20px;
    }
}
@media(max-width: 980px){
    #navlogo{
        margin-left: 340px;
    }
    #bellicon {
        margin-left: 165px;
    }
    #navuser{
        margin-left: 20px;
    }
}
@media(max-width: 930px){
    #usericon{
        margin-left: 0px;
    }
    #createref {
        margin-left: 535px;
    }
    #tip1, #tip2, #tip3{
        width: 760px;
    }
    #tip1 p {
        width: 460px;
    }
    #tip2 p, #tip3 p {
        width: 425px;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
    #dots1, #dots2, #dots3 {
        margin-left: 485px;
    }
    table{
        width: 755px;
    }
    #bellicon {
        margin-left: 115px;
    }
}
@media(max-width: 860px){
    #navlogo {
        margin-left: 300px;
    }
    #createref {
        margin-left: 485px;
    }
    #tip1, #tip2, #tip3{
        margin-left: 20px;
    }
    #dottedgraph, #linegraph, .tab, #tabhr, #trophyimg {
        margin-left: 10px;
    }
    #tabhr {
        width: 780px;
    }
    #refrev,#conversionrate,table,#trophyimg {
        margin-left: 5px;
    }
    #arrowbg {
        margin-left: 615px;
    }
    #analyticshowbtn{
        margin-left: 75px;
    }
}
@media(max-width:825px){
    #tip1, #tip2, #tip3 {
        margin-left: 5px;
    }
    #createref {
        margin-left: 465px;
    }
    #tabhr {
        width: 755px;
    }
    #dottedgraph, #bgraph {
        width: 450px;
    }
    .aimgs{
        height: 275px;
    }
    #linegraph {
        width: 415px;
    }
    #ygraph {
        width: 390px;
        height: 294px;
    }
    #navlogo {
        margin-left: 265px;
    }
}
@media(max-width:785px){
    #bellicon {
        margin-left: 105px;
    }
    #navuser {
        margin-left: 3px;
    }
    #createref {
        margin-left: 425px;
    }
    #tip1, #tip2, #tip3 {
        width: 705px;
    }
    #tip1 p {
        width: 410px;
    }
    #tip2 p, #tip3 p {
        width: 370px;
    }
    #dottedgraph, #bgraph {
        width: 375px;
    }
    .aimgs {
        height: 245px;
    }
    #dots1, #dots2, #dots3 {
        margin-left: 385px;
    }
    #bgraph {
        margin-left: -38px;
    }
    #linegraph {
        width: 350px;
    }
    #ygraph {
        width: 335px;
        height: 265px;
    }
    #downloadpdf {
        margin-left: 95px;
    }
    table {
        width: 710px;
    }
    #orderplaced .yellowbar {
        top: 23px;
    }
    #prevsettings .yellowbar {
        top: 32px;
    }
}
@media(max-width: 768px),(height: 1024px){
    #navlogo {
        margin-left: 245px;
    }
    #bellicon {
        margin-left: 105px;
    }
    #navuser {
        margin-left: 3px;
    }
    #createref {
        margin-left: 425px;
    }
    #tip1, #tip2, #tip3 {
        width: 705px;
    }
    #tip1 p {
        width: 410px;
    }
    #tip2 p, #tip3 p {
        width: 370px;
    }
    #dottedgraph, #bgraph {
        width: 375px;
    }
    .aimgs {
        height: 245px;
    }
    #dots1, #dots2, #dots3 {
        margin-left: 385px;
    }
    #bgraph {
        margin-left: -38px;
    }
    #linegraph {
        width: 350px;
    }
    #ygraph {
        width: 335px;
        height: 265px;
    }
    #downloadpdf {
        margin-left: 60px;
    }
    table {
        width: 710px;
    }
    #orderplaced .yellowbar {
        top: 23px;
    }
    #prevsettings .yellowbar {
        top: 32px;
    }
    .overviewdivs {
        width: 320px;
    }
    .viewbtn {
        margin-left: 210px;
    }
    #arrowbg {
        margin-left: 570px;
    }
    #tabhr {
        width: 695px;
    }
}
@media(max-width: 740px){
    table {
        width: 655px;
    }
    #analyticshowbtn{
        width: 205px;
    }
    #siatext{
        left: 25px;
    }
    #createref {
        margin-left: 380px;
    }
    #bellicon {
        margin-left: 80px;
    }
    #tip1, #tip2, #tip3 {
        width: 670px;
    }
    #tip1 p {
        width: 335px;
    }
    #tip2 p, #tip3 p {
        width: 315px;
    }
    #tabhr {
        width: 660px;
    }
}
@media(max-width: 710px){
    #navlogo {
    margin-left: 225px;
    }
}
@media(max-width: 695px){
    #bellicon {
        margin-left: 65px;
    }
    #createref {
        margin-left: 325px;
    }
    #tip1, #tip2, #tip3 {
        width: 620px;
    }
    #tip1 p {
        width: 310px;
    }
    #tip2 p, #tip3 p {
        width: 255px;
    }
    #tip2 p, #tip3 p {
        bottom: 287px;
    }
    #siatext{
        left: 28px;
    }
    #analyticshowbtn {
        margin-left: 50px;
    }
    #tabhr {
        width: 615px;
    }
}
@media(max-width: 676px){
    #navlogo {
        margin-left: 200px;
    }
    .overviewdivs {
        height: 185px;
        width: 280px;
    }
    #overview{
        width: 625px;
    }
    #rrdesc, #rdesc, #rrtitle, #rtitle, #crtitle {
        left: 15px;
    }
    #rrimg, #rimg, #crimg {
        margin-left: 0px;
    }
    .viewbtn {
        margin-left: 175px;
    }
    #viewbtn1, #viewbtn2 {
        top: -6px;
    }
    #viewbtn3{
        bottom: 12px;
    }
    #arrowlink {
        margin-left: 54px;
    }
    #arrowbg {
        margin-left: 484px;
        bottom: 115px;
    }
    #analyticshowbtn {
        margin-left: 25px;
    }
    #siatext{
        left: 25px;
    }
    table {
        width: 605px;
    }
}
@media(max-width: 640px){
    #menu{
        margin-left: 20px;
    }
    #createref {
        margin-left: 290px;
    }
    #tip1img {
        margin-left: -40px;
    }
    #tip2img {
        margin-left: 3px;
    }
    #tip1 p {
        margin-left: 265px;
    }
    #tip2 p,#tip3 p {
        margin-left: 305px;
    }
    #dots1, #dots2, #dots3 {
        margin-left: 310px;
    }
    #tip1, #tip2, #tip3 {
        width: 575px;
    }
    #tabhr {
        width: 565px;
    }
    table {
        width: 555px;
    }
    #siatext{
        left: 25px;
    }
    #downloadpdf {
        margin-left: 30px;
    }
    #dottedgraph, #bgraph {
        width: 310px;
    }
    .aimgs {
        height: 210px;
    }
    #bgraph {
        margin-left: -30px;
    }
    #linegraph {
        width: 285px;
    }
    #ygraph {
        width: 280px;
        height: 226px;
        top: -5px;
        margin-left: -4px;
    }
}
@media(max-width: 620px){
    #bellicon {
        margin-left: 50px;
    }
}
@media(max-width: 600px){
    #navlogo {
        margin-left: 170px;
    }
    #createref {
        margin-left: 240px;
    }
    #tip2img, #tip3img, #tip1img {
        height: 290px;
        width: 290px;
    }
    #tip2img, #tip3img{
        height: 265px;
        width: 265px;
    }
    #tip3img{
        margin-left: 14px;
    }
    #tip1 p {
        margin-left: 230px;
        bottom: 295px;
    }
    #tip1, #tip2, #tip3 {
        width: 535px;
    }
    #tip2 p, #tip3 p {
        margin-left: 270px;
        bottom: 268px;
    }
    .overviewdivs{
        width: 260px;
    }
    #tabhr {
        width: 520px;
    }
    .viewbtn{
        width: 70px;
    }
    .viewtxt{
        left: 10px;
    }
    .rightcaret{
        left: 6px;
    }
    #arrowbg{
        margin-left: 465px;
    }
    table {
        width: 530px;
    }
    #siatext{
        left: 10px;
    }
    #analyticshowbtn {
        width: 173px;
    }
}
@media(max-width: 560px){
    #bellicon, #helpicon{
        display: none;
    }
    #navuser {
        margin-left: 60px;
    }
    #createref {
        margin-left: 220px;
        height: 65px;
        width: 285px;
    }
    #plusicon{
        top: 12px;
        left: 10px;
    }
    #createreftxt{
        top: -2px;
        left: 20px;
    }
    #tip2img, #tip3img, #tip1img {
        height: 270px;
        width: 270px;
        bottom: 131px;
    }
    #tip1, #tip2, #tip3 {
        width: 490px;
    }
    #tip1 p {
        margin-left: 210px;
        bottom: 270px;
        width: 273px;
    }
    #tip1heading, #tip2heading, #tip3heading {
        font-size: 25px;
    }
    #tip1desc, #tip2desc, #tip3desc {
        font-size: 13px;
    }
    #dots1, #dots2, #dots3 {
        margin-left: 220px;
    }
    #tip2img, #tip3img {
        height: 224px;
        width: 210px;
        bottom: 90px;
    }
    #tip2 p, #tip3 p {
        margin-left: 222px;
        bottom: 221px;
    }
    #tabhr {
        width: 485px;
    }
    .overviewdivs {
        height: 160px;
        width: 230px;
        margin-top: 9px;
    }
    #rrtitle, #rtitle, #crtitle {
        font-size: 20px;
    }
    #rrdesc{
        font-size: 15px;
    }
    #rrimg, #rimg, #crimg {
        margin-left: -6px;
    }
    #rimg,#rrimg,#crimg{
        width: 185px;
        top: 25px;
    }
    .viewbtn{
        font-size: 14px;
        height: 25px;
        width: 60px;
    }
    .viewtxt{
        top: 2px;
    }
    .rightcaret{
        top: 4px;
    }
    #crimg{
        height: 62px;
    }
    #viewbtn1, #viewbtn2 {
        top: -14px;
    }
    #arrowlink {
        margin-left: 30px;
    }
    #arrowbg {
        margin-left: 410px;
    }
    #trophytxt {
        font-size: 18px;
    }
    #siatext{
        left: 10px;
    }
    table {
        width: 490px;
    }
    #downloadpdf {
        margin-left: 15px;
    }
}
@media(max-width: 520px){
    #navlogo {
        margin-left: 130px;
    }
    #tip1, #tip2, #tip3 {
        height: 160px;
        width: 460px;
    }
    #tip1img{
        height: 245px;
        width: 245px;
    }
    #tip1 p{
        height: 142px;
        margin-left: 190px;
        bottom: 253px;
        width: 238px;
    }
    #tip1heading, #tip2heading, #tip3heading {
        font-size: 20px;
    }
    #tip1desc, #tip2desc, #tip3desc {
        font-size: 10px;
    }
    #dots1, #dots2, #dots3 {
        bottom: 22px;
    }
    #tip2img,#tip3img{
        height: 206px;
        width: 184px;
    }
    #tip2 p,#tip3 p{
        margin-left: 195px;
        bottom: 205px;
    }
    #plusicon{
        display: none;
    }
    #createref{
        height: 45px;
        width: 243px;
        margin-left: 219px;
    }
    #createreftxt {
        top: 13px;
        left: 16px;
    }
    #tabhr {
        width: 450px;
    }
    .viewbtn {
        margin-left: 145px;
    }
    #viewbtn3 {
        bottom: 19px;
    }
    .overviewdivs{
        margin-left: 0px;
    }
    #siatext{
        left: 12px;
    }
    #analyticshowbtn {
        margin-left: 7px;
    }
    #downloadpdf {
        margin-left: 0px;
    }
    table {
        width: 445px;
    }
    #dottedgraph, #bgraph {
        width: 235px;
    }
    .aimgs {
        height: 170px;
    }
    #linegraph {
        width: 210px;
    }
    #ygraph{
        width: 205px;
        height: 187px;
    }
}
@media(max-width: 490px){
    #navuser {
        margin-left: 35px;
    }
    #createref{
        margin-left: 200px;
    }
    #tip1, #tip2, #tip3 {
        width: 430px;
    }
    #tip2 p, #tip3 p {
        width: 225px;
    }
    #tabhr {
        width: 420px;
    }
    .overviewdivs{
        height: 130px;
        width: 203px;
    }
    #rrtitle, #rtitle, #crtitle {
        font-size: 15px;
    }
    #rrdesc,#rdesc {
        font-size: 10px;
    }
    #rimg, #rrimg, #crimg {
        width: 150px;
    }
    .viewbtn{
        height: 20px;
        width: 50px;
        margin-left: 135px;
    }
    .rightcaret{
        display: none;
    }
    #viewbtn1, #viewbtn2 {
        top: -22px;
    }
    #crimg {
        height: 45px;
    }
    #arrowlink {
        margin-left: 20px;
    }
    #arrowbg {
        margin-left: 372px;
    }
    #trophytxt {
        font-size: 15px;
    }
    #siatxt {
        left: 11px;
        top: 19px;
        font-size: 16px;
    }
    #analyticshowbtn {
        height: 45px;
        width: 160px;
    }
}
@media(max-width: 350px){
    .tab{
        margin-left: 60px;
    }
}
@media(max-width: 322px){
    .tab{
        margin-left: 50px;
    }
}
@media(max-width: 313px){
    .tab{
        margin-left: 40px;
    }
}
